{% extends "main.html" %}
{% block content %}
<h1>Create Course</h1>
<form action="{{ url_for('createCourse') }}" method="POST">
    <div class="form-group">
    <label for="name">Label:</label>
    <div class="flash">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    </div>
    <input name="input-label" type="text" class="form-control" maxlength="100" {% if course %}value="{{ course.label }}"{% endif %}>
    <div class="padding-bottom"></div>
    <button type="submit" class="btn btn-default" id="submit" type="submit">Create</button>
    <a href="{{ url_for('listCourses') }}"><div class="btn">Cancel</div></a>
    </div>
</form>
{% endblock %}
