{% extends "main.html" %}
{% block content %}
<h1>Delete {{ category.label }}?</h1>
<form action="{{ url_for('category.deleteCategory', category_label=category.label) }}" method="POST">
    <input type="hidden" name="nonce" value="{{ nonce }}" />
    <div class="form-group">
        <input name="input-label" type="text" class="form-control" maxlength="100" {% if category %}value="{{ category.label }}"{% endif %}>
    </div>
    <div class="padding-bottom"></div>
    <div>
        <button type="submit" class="btn btn-danger" id="submit" type="submit">Delete</button>
        <span class="pull-right"><a href="{{ url_for('category.showCategory', category_label=category.label) }}"><div class="btn btn-default">Cancel</div></a></span>
    </div>
</form>
{% endblock %}