<a href="{{ url_for('listCourses') }}">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Show All Courses
</a>
{% if course and course.id %}
<a href="{{ url_for('showCourse', course_id=course.id) }}">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> {{ course.label }}
</a>
{% endif %}
{% if skill and skill.id %}
<a href="{{ url_for('listCourseSkills', course_id=course.id) }}">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Skills
</a>
{% endif %}