<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="pane">
        <div class="header">
            <h1>Restaurants</h1>
        </div>
        <a href="{{ url_for('createRestaurant') }}">Create restaurant</a>
{% if restaurants %}
    {% for restaurant in restaurants %}
        <span class="name"><p>{{ restaurant.name }}</p></span>
        <a href="{{ url_for('updateRestaurant', restaurant_id=restaurant.id) }}">Edit</a>
        <a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a>
    {% endfor %}
{% else %}
        <p>Add some restaurants</p>
{% endif %}
    </div>
</body>
</html>
