{% extends "main.html" %}
{% block content %}
<div class="flash">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</div>
<h3>{{ item.category.label }} - {{ item.label }}</h3>
<div class="row">
    {% if item.image_url %}
        <img src="{{ item.image_url }}" class="item-image img-rounded">
    {% endif %}
    <p class="item-description">{{ item.description }}</p>
</div>
<div class="row">
{% if item.user_id == getUserId(session['email']) %}
<a href="{{ url_for('category.updateCategoryItem', category_label=item.category.label, item_label=item.label) }}"><div class="btn">Edit</div></a>|<a href="{{ url_for('category.deleteCategoryItem', category_label=item.category.label, item_label=item.label) }}"><div class="btn">Delete</div></a>
</div>
{% endif %}
{% endblock %}